<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OnlineDiagnosticLabSystemDbEntities" connectionString="metadata=res://*/OnlineDiagnosticModel.csdl|res://*/OnlineDiagnosticModel.ssdl|res://*/OnlineDiagnosticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OnlineDiagnosticLabSystemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineDiagnosticLabSystemDbEntities1" connectionString="metadata=res://*/OnlineDiagnosticModel.csdl|res://*/OnlineDiagnosticModel.ssdl|res://*/OnlineDiagnosticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HOO3536;initial catalog=OnlineDiagnosticLabSystemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineDiagnosticLabSystemDbEntities2" connectionString="metadata=res://*/OnlineDiagnosticModel.csdl|res://*/OnlineDiagnosticModel.ssdl|res://*/OnlineDiagnosticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OnlineDiagnosticLabSystemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineDiagnosticLabSystemDbEntities3" connectionString="metadata=res://*/Model1OnlineDiagnostic.csdl|res://*/Model1OnlineDiagnostic.ssdl|res://*/Model1OnlineDiagnostic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HOO3536;initial catalog=OnlineDiagnosticLabSystemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineDiagnosticLabSystemDbEntities4" connectionString="metadata=res://*/OnlineDiagnosticModel.csdl|res://*/OnlineDiagnosticModel.ssdl|res://*/OnlineDiagnosticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OnlineDiagnosticLabSystemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineDiagnosticLabSystemDbEntities5" connectionString="metadata=res://*/OnlineDiagnosticSystemModel.csdl|res://*/OnlineDiagnosticSystemModel.ssdl|res://*/OnlineDiagnosticSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OnlineDiagnosticLabSystemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>